h1 {
  font-size:2em;
  color:#333;
}
#info {
  /*position:absolute;
  top: 10px;
  left: 10px;*/
}
.states {
	fill: #e5e5e5;
	stroke: #fff;
	stroke-width:2px;
}
form {
  display: inline-block;
  position: absolute;
  margin: 0;
}
#dialoguebox {
  display: inline-block;
  position: absolute;
  margin: 0;
  width: 200px;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  font-size: 20px;

}
#map {
    display: inline-block;
}
body {
  text-align: center;
  font-family:arial;
}
#legend
{
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
}
#legendtext {
  text-align: left;
}