:root {
    --slider-thumb-color: purple;
    --background-color: #e5e5e5;
}
/** body **/
h1 { 
    text-align: center;
}
/** map and arcs **/
#map {
    justify-content: center;
    display: flex;
    align-items: center;
}
.states {
    fill: var(--background-color);
    stroke: white;
    stroke-width:2px;
    cursor: pointer;
}
#dialoguebox, #switch {
    height: 15px;
    text-align: center;
    /**
    display: flex;
    position: absolute;
    margin: 0;
    width: 300px;
    
    margin-left: 150px;
    top: 50%;
    margin-top: 150px;
    font-size: 20px;
    **/
}
/** slider and legend **/
#slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: var(--background-color);
  outline: none;
  cursor: pointer;
}

#legend {}

#yearslider{
    /**width: 100%;**/
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--slider-thumb-color);
    cursor: pointer;
  }

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--slider-thumb-color);
    cursor: pointer;
}

input[type="range"] {
    /**width: 100%;**/
    margin: 0;
    box-sizing: border-box;
}
datalist {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}
option{
    text-align: center;
}
body{
    size: 12px;
}
#data::h1{
    text-align: center;
}